@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

body {
  font-family: "Space Grotesk", system-ui, sans-serif;
  background-color: #0b0f1a;
}

a {
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}
